@page
@model Rent_A_House.Pages.HouseOwners.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HouseOwner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HouseOwner.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseOwner.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseOwner.ContactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseOwner.ContactNumber)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.HouseOwner.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
