@page
@model Rent_A_House.Pages.Houses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Houses</h2>

<p>
    <a class="btn btn-success" asp-page="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.House[0].HouseOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.House[0].HouseAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.House) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HouseOwner.HouseOwnerRegistrationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseAddress)
            </td>
            <td>
                <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-success" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-success" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
