@page
@model Rent_A_House.Pages.Contracts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Contracts</h2>

<p>
    <a class="btn btn-success" asp-page="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].House)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].RentPerWeek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contract) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.House.HouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant.TenantRegistrationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentPerWeek)
            </td>
            <td>
                <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-success" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-success" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
